* {
	padding: 0;
	margin: 0;
}

:root {
	--theme-bg: #050913;
	--theme-bg-grey: #1c2028;
	--theme-bg-light: #161617;
	--link1: #5EC900;
	--link1-hover: #4FA801;
	--link2: #6600ff;
	--link2-hover: #5700D9;
	--text1: #6600ff;
	--white: #ffffff;
	--large-text: calc(50px + 4rem);
	--hero-bg: #2c5865;
	--footer-bg: rgb(55, 55, 55);
	--text-one:'Josefin Sans', sans-serif;
}

html,
body {
	width: 100%;
	overflow-x: hidden;
	font-size: 100%;
	background-color: var(--theme-bg);
}

.content {
	margin-top: 0vh;
}

.space10 {
	width: 100%;
	height: 10vh;
	color: var(--theme-bg);
}

.space5 {
	width: 100%;
	height: 5vh;
	color: var(--theme-bg);
}

.space10T {
	width: 100%;
	height: 10vh;
	color: transparent;
}
.active {
	color: var(--link1)!important;
  }
.header {
	height: 10vh;
	width: 100%;
	z-index: 10;
	background: var(--theme-bg);
	position: fixed;
	top: 0;
	display: grid;
	grid-template-columns: 1fr 9fr;
	grid-template-rows: repeat(1, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	transition: all .1s;
}

.header-logo {
	color: var(--link1);
	margin-block: auto;
	height: 50px;
	width: 100%;
	margin: auto auto auto 10px;
}

.header-logo img{
	width: 100px;
	height: 50px;
}

.header-link {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;

}

.header-link a {
	text-decoration: none;
	color: var(--white);
	font-family: Century Gothic;
	font-weight: 800;
	font-size: medium;
}

.header-link a:hover {
	color: var(--link1);
}

.hero {
	height: 80vh;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 5fr 5fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	transition: all .1s;
	background-color: var(--theme-bg-light);
}

.hero-text {
	max-width: 100%;
	display: grid;
	grid-template-columns:  1fr;
	grid-template-rows: 2fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin-inline:10px;
}

.text-div {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
    flex-wrap: wrap;
}

.button-div {
	display: flex;
	text-align: end;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: flex-start;
	justify-content: center;
	align-items: flex-start;
}

.con-btn {
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	line-height: 1;
	border-radius: 500px;
	transition-property: background-color, border-color, color, box-shadow, filter;
	transition-duration: .3s;
	border: 2px solid var(--white);
	letter-spacing: 2px;
	min-width: 160px;
	text-transform: uppercase;
	white-space: normal;
	font-weight: 700;
	text-align: center;
	padding: 16px 14px 18px;
	color: var(--white);
	background-color: transparent;
	height: 48px;
}

.con-btn:hover {
	border: 2px solid var(--link1-hover);
	color: var(--link1-hover);
	transition-duration: .3s;
	scale: 1;
}

.hero-span1 {
	white-space: nowrap;
	margin-top: 80vh;
	font-size: clamp(40px, 8vw, 68px);
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
	color: var(--white);
	transform: translateX(200%);
	opacity: 0;
	animation: slide-ani 1.5s ease-out forwards;
}

.hero-span2 {
	font-size: 1.5rem;
	font-weight: 900;
	color: var(--white);
	transform: translateX(200%);
	opacity: 0;
	animation: slide-ani 1.5s ease-out forwards;
}

.hero-img {
	/* background-image: url(hero.png);  */
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position-y: center;
}


.flow_cont {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.scroollingtext2 {
	/* margin-top: 50px; */
	animation: scrollText 10s linear infinite;
	color: #ffffff;
	white-space: nowrap;
	text-transform: uppercase;
	font-family: 'Museo';
	font-weight: 300;
}

@keyframes scrollText {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(-100%);
	}
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90vh;
	padding-top: 10vh;
}

.services {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 10px;
	justify-items: center;
	align-items: center;
	width: 100%;
	height: 90vh;
	padding-top: 10vh;
	background-color: var(--theme-bg-light);
}

.card {
	border-radius: 2px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 5fr 5fr;
	background-color:var(--theme-bg);
	min-width: 200px;
	width: 80%;
	min-height: 200px;
	transition: all .6s;
	text-align: center;
}

.card:hover {
	background-color: #6600ff;
}

.card img {
	width: 100%;
	height: 100px;
}

.card-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4fr 6fr;
}

.card h2 {
	color: var(--white);
	text-align: center;
}

.card p {
	color: var(--white);
}

.r2-head {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #ffffff;
	font-family: var(--text-one);
	font-size: 80px;
}

.highlight {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 15em;
	font-size: clamp(1.4rem, calc(50px + 5vw), 8rem);
	color: hsla(0, 0%, 100%, .05);
	background-image: radial-gradient(closest-side, var(--link1-hover) 40%, transparent 0);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 400px 400px;
	transition: all .1s;
	background-clip: text;
	-webkit-background-clip: text;
}

.scroollingtext {
	animation: scrollText 15s infinite linear;
	font-size: calc(50px + 5vw);
	color: #ffffff;
	white-space: nowrap;
	text-transform: uppercase;
	font-family: 'Museo';
	font-weight: 300;
}


.contact {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #050913;
	height: fit-content;
	width: 100vw;
	padding-top: 10vh;
	align-content: center;
}

.contact-header {
	max-width: 100vw;
	text-align: center;
	margin: 0 auto;
	padding: 20px 0;
	font: 300 60px 'Oswald', sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: (40px, 8vw, 68px);
}

.main-contact-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: #050913;
	height: fit-content;
	width: 100vw;
	padding-block: 50px;
}

.contact-card {
	background-color: #050913;
	height: 45vh;
	width: clamp(60vw, 630px, 70vw);
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.contact-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.contact-frm-title {
	text-align: center;
	width: 50%;
	padding: 40px 0;
	font: 80 1.5rem 'Oswald', sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 6px;
	margin-top: 50px;
	margin-bottom: auto;
}

#con-name {
	height: 2rem;
	width: 80%;
	margin-block: 5px;
	padding-left: 10px;
	border: 0px;
	background-color: #050913;
	font-family: Poppins-Medium;
	font-size: 18px;
	color: #333;
	line-height: 1.2;
	outline: none;
	border-bottom: 2px solid #9e9e9e;
	transition: border-color .2s;
}

#con-mes {
	height: 2rem;
	width: 80%;
	margin-block: 5px;
	padding-left: 10px;
	border: 0px;
	background-color: #050913;
	font-family: Poppins-Medium;
	font-size: 18px;
	color: #333;
	line-height: 1.2;
	outline: none;
	border-bottom: 2px solid #9e9e9e;
	transition: border-color .2s;
}

#con-mes::placeholder {
	color: rgb(255, 255, 255);
	opacity: 1;
}

#con-name::placeholder {
	color: rgb(255, 255, 255);
	opacity: 1;
}

#con-name:focus {
	border-bottom-color: #ffffff;
	color: #ffffff;
}

#con-mes:focus {
	border-bottom-color: #ffffff;
	color: #ffffff;
}




@keyframes slide-ani {
	20% {
		opacity: 0;
	}

	60% {
		transform: translateX(45%);
	}

	75% {
		transform: translateX(52%);
	}

	100% {
		opacity: 1;
		transform: translateX(50%);
	}

}

.flow_box {
	margin-right: 10px;
	padding: 10px 15px 11px;
	color: #ffffff;
	background-color: var(--theme-bg-grey);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-ms-border-radius: 8px;
	display: inline-block;
}

.footer {
	height: 50vh;
	width: 100%;
	background-color: var(--footer-bg);
}


@media only screen and (max-width: 480px) {
	.card {
		margin-inline: 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 5fr 5fr;
	}

	.services {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-row-gap: 10px;
		width: 100%;
	}
}

@media only screen and (max-width: 640px) {

	.hero {
		grid-auto-flow: column;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		transition: all .1s;
	}

	.hero-text {
		max-width: 100%;
	}

	.hero-img {
		max-width: 100%;
		background-color: #ffffff;
	}
}


@media only screen and (max-width: 640px) and (min-width: 480px) {

	.services {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-row-gap: 10px;
		width: 100%;
	}

	.card {
		margin-inline: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

}

@media only screen and ((max-width: 767px)) {
	.services h1 {
		font-size: 9.2vw;

	}
}

@media only screen and ((max-width: 1279px)) {
	.services h1 {
		font-size: 52px;
	}

}
